<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div style="border:; height: 60px; float: left; width:1270px">
    
<% if user_signed_in? %>
        
      <h3>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </h3>
<% else %>
        
      <h3>
  <%= link_to('Login', new_user_session_path)  %>  
  </h3>
<% end %>

    </div>

  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


    <%= yield %>
  </body>
</html>
